/* Headers */
h1 small{
    color: grey;
    font-size: 60%;
}

h2 small{
    color: grey;
    font-size: 60%;
}

h3 small{
    color: grey;
    font-size: 60%;
}

/* Code Display */
pre {
    border: solid 1px #ccc;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

/* My Table */

.my-table th{
    white-space: nowrap;
    text-align: center;
    vertical-align: middle !important;
}
.my-table td{
    white-space: nowrap;
    text-align: center;
    vertical-align: middle !important;
}
.my-table a{
    font-weight: bold;
}
.my-table button{
    padding: 0 0.2em !important;
}
.my-table .break-word{
    white-space: normal !important;
    word-break: break-all !important;
}
.my-table .subheader{
    color: white !important;
    background-color: #333 !important;
}
.my-table .left-header{
    background-color: #f8f8f8 !important;
}
.my-table .col-button{
    width: 1rem;
}
.my-table .color{
    width: 1rem;
}
.my-table .warning{
    color: red;
}
.my-table .name{
    font-weight: bold;
    line-height: 1rem;
    background-color: rgba(0, 0, 0, 0.02);
}
.my-table .remarks{
    min-width: 10rem;
    text-align: left;
    font-size: 0.8rem;
    white-space: pre-line;
}
.my-table .small{
    text-align: left;
    font-size: 0.8rem;
}

@media only screen and (max-width: 800px) {
    .my-table{
        font-size: 0.8rem;
    }
    .my-table button{
        font-size: 0.8rem;
    }
    .my-table th{
        padding: 0.1rem !important;
    }
    .my-table td{
        padding: 0.1rem !important;
    }
}

@media only screen and (min-width: 801px) {
    .my-table th{
        padding: 0.2rem !important;
    }
    .my-table td{
        padding: 0.2rem !important;
    }
}

.my-table td.no-padding{
    padding: 0 !important;
}

.my-table thead.sticky tr th{
    position: sticky;
    top: 0;
    z-index: 1;
}

@media only screen and (max-width: 800px) {
    .container {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
    .card-body {
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;
    }
}

/* Schedule Draft */
.schdraft-time-input{
    border-color: rgba(0,0,0,0.1);
    border-width: 1px;
    font-size: 0.8rem;
    width: 5rem;
    text-align: center;
    line-height: 1.2rem;
}
.schdraft-time-input.depart{
    font-weight: bold;
}
.schdraft-time-input.pass{
    font-style: italic;
}

/* Schedule Draft */
.schdraft-input{
    display: flex;
    align-items: stretch;
}
.schdraft-input button{
    border: none;
    padding: 0;
    height: 100%;
}
.schdraft-input .track button{
    width: 2rem;
    overflow-x: hidden;
    background-color: #fec;
    font-size: 0.8rem;
}
.schdraft-input .track button:hover{
    background-color: #fda;
}
.schdraft-input .pass-toggle-btn{
    font-size: 0.6rem;
}
.schdraft-input .time{
    width: 5rem;
}
.schdraft-input .time-mod button{
    font-size: 0.7rem;
    width: 1rem;
    overflow-x: hidden;
    background-color: #fff;
    text-align: center;
}
.schdraft-input .time-mod button:hover{
    background-color: #ddd;
}
.schdraft-input .time-delta button{
    width: 2rem;
    overflow-x: hidden;
    background-color: #eff;
    color: #555;
    font-size: 0.7rem;
    font-style: italic;
}
.schdraft-input .time-delta button:hover{
    background-color: #ccc;
}